form {
    width: 50%;

    
}


input {
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 100px;
    width: 180%;
    margin: 5px;
    padding: 5px;
}
::placeholder{
    color: black;
}

input, textarea {
    outline: none;
}

body {
    background-color: grey;
    color: white;
    margin: 4px;
    border: 4px;
    

}
label{
    color: blue;
}
input{
    width: 180%; 
    padding: 5px;
    margin: 5px;

}

.box1 {
    border: solid;
    width: 50%;
    margin: 4px;
    color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10PX;
}
.box2 {
    width: 50%;
    padding: 20px;
    border: solid 0px;
    margin: auto;
    background-color: rgba(153, 146, 146, 0.856);
}